<a href="https://colab.research.google.com/github/luishernandezpw/PrograIII-2024-Semi/blob/master/fundamentos_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
nombre = "Luis Hernandez"

print("Hola ", nombre, ", inicial: ", nombre[0], nombre[5])

Hola Mundo
Hola  Luis Hernandez , inicial:  L H

EJERCICIO, crear un programa en python que sume dos numeros

In [ ]:
num1 = 5
num2 = 9.5
resp = num1 + num2
print("La suma es: ", resp)

La suma es:  14.5

EJERCICIO, crear un programa en python que sume dos numeros introducidos por el usuario

In [ ]:
print("Num 1")
num1 = int(input())

print("Num 2")
num2 = float(input())

resp = num1 + num2
print("La suma es: ", resp)

Num 1
9
Num 2
4.5
La suma es:  13.5

In [2]:
#Tipos de datos
num1 = 5 #entero
num2 = 5.9 #decimal
nombre = "Luis Hernandez" #cadenas
print(nombre, nombre[0:4], nombre[:4], nombre[-1], nombre[5:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado) )

Luis Hernandez Luis Luis z Hernandez
True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

EJERCICIO, cree un programa en python que lea un numero y determine si es par o impar.

In [ ]:
num = int(input("ingrese un numero:"))
if num % 2 == 0:
  print("El numero es par", num)
else:
  print("El numero es impar")

ingrese un numero:5
El numero es impar

EJERCICIO: Uso de las funciones de usuario, con la suma de dos numeros.

In [12]:
def suma(num1, num2):
  return num1 + num2

In [13]:
num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))

resp = suma(num1, num2)
print("La suma es: ", resp)

Num 1: 5
Num 2: 9
La suma es:  14.0

EJERCICIO: Coonvertir grados celsius a farenheit, usando funciones de usuario.

In [24]:
def convertir_cf(c):
  return c*1.8 + 32

In [25]:
c = float(input("Celsius: "))
print("F: ", convertir_cf(c))

Celsius: 33
F:  91.4

EJERCICIO: Determina si un numero es par o impar

In [37]:
def parImpar(num):
  if(num%2==0):
    return "par"
  return "impar"

In [38]:
num = int(input("Num: "))
print("EL numero ", num, " es: ", parImpar(num))

Num: 9
EL numero  9  es:  impar

**TAREA (MIERCOLES):**
1.   Convertir grados Farenheits a Celsius
2.   Convertir grados [Celsius y Farenheit] a kelvin.

EJERCICIO: Calcular el sueldo de un trabajador.

In [45]:
def sueldo(numHrs, valorXHrs):
  sueldo = numHrs * valorXHrs * 30 # 10*1.5*30 = 450
  if(numHrs>8):
    sueldo = sueldo + (numHrs-8) * valorXHrs * 30 # 2*1.5*30 = 90
  return sueldo

In [46]:
numHrs = int(input("Horas: "))
valorXHrs = float(input("Valor: "))

print("Sueldo: ", sueldo(numHrs, valorXHrs))

Horas: 10
Valor: 1.5
Sueldo:  540.0