<a href="https://colab.research.google.com/github/luishernandezpw/PrograIII-2024-Semi/blob/master/fundamentos_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
nombre = "Luis Hernandez"

print("Hola ", nombre, ", inicial: ", nombre[0], nombre[5])

Hola Mundo
Hola  Luis Hernandez , inicial:  L H

EJERCICIO, crear un programa en python que sume dos numeros

In [ ]:
num1 = 5
num2 = 9.5
resp = num1 + num2
print("La suma es: ", resp)

La suma es:  14.5

EJERCICIO, crear un programa en python que sume dos numeros introducidos por el usuario

In [ ]:
print("Num 1")
num1 = int(input())

print("Num 2")
num2 = float(input())

resp = num1 + num2
print("La suma es: ", resp)

Num 1
9
Num 2
4.5
La suma es:  13.5

In [ ]:
#Tipos de datos
num1 = 5 #entero
num2 = 5.9 #decimal
nombre = "Luis Hernandez" #cadenas
print(nombre, nombre[0:4], nombre[:4], nombre[-1], nombre[5:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado) )

Luis Hernandez Luis Luis z Hernandez
True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

EJERCICIO, cree un programa en python que lea un numero y determine si es par o impar.

In [ ]:
num = int(input("ingrese un numero:"))
if num % 2 == 0:
  print("El numero es par", num)
else:
  print("El numero es impar")

ingrese un numero:5
El numero es impar

EJERCICIO: Uso de las funciones de usuario, con la suma de dos numeros.

In [ ]:
def suma(num1, num2):
  return num1 + num2

In [ ]:
num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))

resp = suma(num1, num2)
print("La suma es: ", resp)

Num 1: 5
Num 2: 9
La suma es:  14.0

EJERCICIO: Coonvertir grados celsius a farenheit, usando funciones de usuario.

In [ ]:
def convertir_cf(c):
  return c*1.8 + 32

In [ ]:
c = float(input("Celsius: "))
print("F: ", convertir_cf(c))

Celsius: 33
F:  91.4

EJERCICIO: Determina si un numero es par o impar

In [ ]:
def parImpar(num):
  if(num%2==0):
    return "par"
  return "impar"

In [ ]:
num = int(input("Num: "))
print("EL numero ", num, " es: ", parImpar(num))

Num: 9
EL numero  9  es:  impar

**TAREA (MIERCOLES):**
1.   Convertir grados Farenheits a Celsius
2.   Convertir grados [Celsius y Farenheit] a kelvin.

EJERCICIO: Calcular el sueldo de un trabajador.

In [ ]:
def sueldo(numHrs, valorXHrs):
  sueldo = numHrs * valorXHrs * 30 # 10*1.5*30 = 450
  if(numHrs>8):
    sueldo = sueldo + (numHrs-8) * valorXHrs * 30 # 2*1.5*30 = 90
  return sueldo

In [ ]:
numHrs = int(input("Horas: "))
valorXHrs = float(input("Valor: "))

print("Sueldo: ", sueldo(numHrs, valorXHrs))

Horas: 10
Valor: 1.5
Sueldo:  540.0

EJERCICIO: elevar un numero al cuadrado.

In [ ]:
def elevarCuadrado(base=0, exponente=2):
  return base**exponente

In [ ]:
num = int(input("Num: "))
print("Cuadrado: ", elevarCuadrado(num, 3))

Num: 4
Cuadrado:  64

USANDO FUNCIONES LAMBDA.

In [ ]:
elevarCuadradoLambda = lambda base, exponente: base**exponente

In [ ]:
valor = int(input("Num: "))
print("Cuadrado: ", elevarCuadradoLambda(valor, 2))

Num: 3
Cuadrado:  9

In [ ]:
serie = [5,4,3,2,6,7]
resp = map(lambda x: x**2, serie)
print(list(resp))

resp2 = map(elevarCuadrado, serie)
print(list(resp2))

[25, 16, 9, 4, 36, 49]
[25, 16, 9, 4, 36, 49]

EJERCICIO: obtener la raiz cuadrada de una serie de numeros fijos.

Ejercicios con funciones preconstruidas en python.:

* MAP.

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9]
print(list(map(lambda n: n*2, numeros)))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9, 10]
ntabla = int(input("Tabla: "))
print(list(map(lambda n: n*ntabla, numeros))) #tabla de multiplicar

Tabla: 7
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

* FILTER

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10]
print("Pares: ", list(filter(lambda n: n%2==0, numeros))) #obtener solo los numeros pares.
print("Impares: ", list(filter(lambda n: n%2!=0, numeros))) #obtener solo los numeros impares

Pares:  [2, 4, 6, 8, 10]
Impares:  [1, 3, 5, 7, 9]

In [ ]:
notas = [8,4,9,10,7,6,9,10,2,3,1,8,2,9]
print("Aprobados: ", list(filter(lambda n: n>=6, notas)))
print("Reprobados: ", list(filter(lambda n: n<6, notas)))

Aprobados:  [8, 9, 10, 7, 6, 9, 10, 8, 9]
Reprobados:  [4, 2, 3, 1, 2]

* REDUCE

In [ ]:
from functools import reduce
numeros = [7,8,9,10]
print("Suma: ", reduce(lambda n, acum: n+acum, numeros))

Suma:  34

In [ ]:
numeros = [7,8,9,10, 1,5]
print("Num Mayor: ", reduce(lambda n, mayor: n if n>mayor else mayor, numeros))
print("Num Menor: ", reduce(lambda n, menor: n if n<menor else menor, numeros))

Num Mayor:  10
Num Menor:  1

**TUPLAS**

In [ ]:
numeros = (5,8,7,9,5,4,7)
print("Tupla: ", numeros, "Primer: ", numeros[0], "Ultimo: ", numeros[-1], "Rango: 2-6 ", numeros[2:6])
print(numeros.count(5))

Tupla:  (5, 8, 7, 9, 5, 4, 7) Primer:  5 Ultimo:  7 Rango: 2-6  (7, 9, 5, 4)
2

In [ ]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
print("Primer dia: ",semana[0], "; Cuantas veces repite domingo: ",semana.count("domingo"), "; dias de la seman: ", len(semana))

Primer dia:  domingo ; Cuantas veces repite domingo:  1 ; dias de la seman:  7

In [ ]:
import datetime
hoy = datetime.date.today()
dia = hoy.day
mes = hoy.month
year = hoy.year
dia_semana = hoy.isoweekday()

semana = ("domingo","lunes","martes","miercoles","jueves", "viernes", "sabado")
meses = ("enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre")

print("Fecha: ", semana[dia_semana], dia, " de ", meses[mes], " del ", year)

Fecha:  lunes 29  de  agosto  del  2024

In [ ]:
tuplas = ("Luis","Juan")
#tuplas[0] = "Pedro" #Las tuplas son inmutables, no puede cambiar su valor.
print(tuplas)

listas = ["Luis","Juan"]
listas[0] = "Pedro" #Las listas son mutables, si puede cambiar su valor.
print(listas)

('Luis', 'Juan')
['Pedro', 'Juan']

**LISTAS**

In [ ]:
listas = [5,8,7,9,"Luis", "Jonathan", "Ramon"]
print(listas, listas[-1])

[5, 8, 7, 9, 'Luis', 'Jonathan', 'Ramon'] Ramon

In [2]:
def obtenerNota(nota, eval):
  return eval[1]*0.3 + nota

In [8]:
matriz = [ ["Lab1", 8],["Lab2", 9], ["Parcial", 8] ] #8*0.3=2.4 + 9*0.3=2.7 + 8*0.3=2.4
functools.reduce(obtenerNota, matriz, 0)

7.5

In [14]:
serie = [1,2,3,3,4,4,1,8,9]
print(serie.count(1))

2

In [28]:
numeros = []
for i in range(1,10):
  numeros.append(int(input("Num: "+ str(i)+": ")))
num = int(input("Num a buscar: "))
print("Serie: ", numeros, "El numero ", num, ", se repite: ", numeros.count(num))

Num: 1: 1
Num: 2: 8
Num: 3: 6
Num: 4: 4
Num: 5: 2
Num: 6: 1
Num: 7: 2
Num: 8: 3
Num: 9: 1
Num a buscar: 1
Serie:  [1, 8, 6, 4, 2, 1, 2, 3, 1] El numero  1 , se repite:  3
None

In [35]:
numeros = [1,5,2,6,2,1,4]
numeros.sort()
numeros.reverse()
print(numeros)

[6, 5, 4, 2, 2, 1, 1]

**DICCIONARIOS - JSON**

In [44]:
datos = {
    "codigo":"USIS018804",
    "nombre":"Luis Hernandez",
    "materias":[
        {"codigo":"611","nombre":"Programacion III","notas":{
            "c1":{"lab1":8,"lab2":9,"parcial":10},
            "c2":{"lab1":10,"lab2":9,"parcial":10},
            "c3":{"lab1":4,"lab2":5,"parcial":8}
            }
         },
        {"codigo":"612","nombre":"Base de Datos"}
    ]
}
print(datos["nombre"], datos["materias"][0]["nombre"], datos["materias"][0]["notas"]["c1"])

Luis Hernandez Programacion III {'lab1': 8, 'lab2': 9, 'parcial': 10}